<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<h:head>
	<title>Cadastrar Comanda</title>
</h:head>

<h:body>
	<div id="divCenter">
	<h:outputText value="Cadastrar comanda" rendered="#{comandaMBean.obj.id == 0}"></h:outputText>
	<h:outputText value="Atualizar comanda" rendered="#{comandaMBean.obj.id != 0}"></h:outputText>
	<h:form id="criarComandaForm">
		<div>
			<br/>
			<h:outputLabel for="nome">Nome do Cliente: #{comandaMBean.obj.cliente.nome} </h:outputLabel>
			<br/>	
		</div>
		<br/>
		<h:outputLabel for="comanda">Identificador da Comanda *: </h:outputLabel>
		<h:inputText id="comanda" value="#{comandaMBean.obj.id}" required="true" requiredMessage="Este campo é obrigatório" converterMessage="Digite apenas números"></h:inputText>
		<br />
		<h:message for="comanda"></h:message>
		<br />
		<br />	
		<h:commandButton action="list" value="Ir para a Listagem das Comandas"></h:commandButton>
		<h:commandButton action="#{comandaMBean.atualizar()}" value="Atualizar" rendered="#{comandaMBean.obj.id != 0}"></h:commandButton>
		<h:commandButton action="#{comandaMBean.salvar}" value="Cadastrar" rendered="#{comandaMBean.obj.id == 0}"></h:commandButton>	
	</h:form>
	</div>
	<style type="text/css">
		* { margin: 0; padding: 0; font-family:Tahoma; font-size:9pt;}
			
			#divCenter {
				background-color: #e1e1e1;
				width: 400px;
				height: 300px;
				left: 50%;
				margin: -130px 0 0 -210px;
				padding:10px;
				position: absolute;
				top: 50%; 
			}
	</style>	
</h:body>
</html>