<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Sistema de Estabelecimentos</title>
</h:head>

<h:body>
	<div id="divCenter">
		<h:form>

			<h:outputText value="Sistema de Estabelecimentos - Página do Cliente"></h:outputText>
			<br />
			<br />
			<h:outputLabel for="avaliacao">Deseja avaliar o serviço?</h:outputLabel>
			<br />
			<br />
			<h:outputLabel for="avaliacao">Nota: </h:outputLabel>
			<h:inputText id="avaliacaoNota"
				value="#{avaliacaoServicoMBean.avaliacao.nota}" required="true" requiredMessage="Dê uma nota para a avaliação (0 - 10)" validatorMessage="O valor precisa ser entre 0 e 10">
					<f:validateLongRange minimum="0" maximum="10"></f:validateLongRange>
				</h:inputText>
			<br />
			<h:message for="avaliacaoNota"></h:message>
			<br />
			<h:outputLabel for="avaliacao">Deixe um comentário: </h:outputLabel>
			<h:inputText id="avaliacaoTexto"
				value="#{avaliacaoServicoMBean.avaliacao.texto}"></h:inputText>
			<br />
			<br />
			<h:commandButton action="#{avaliacaoServicoMBean.avaliar(loginMBean.usuarioLogado)}"
				value="Avaliar Serviço"></h:commandButton>
			<br />
			<br />
			<h:button outcome="#{avaliacaoServicoMBean.naoAvaliar()}"
				value="Não avaliar"></h:button>
			<br />
			<br />
		</h:form>
	</div>

	<style type="text/css">
* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	font-size: 9pt;
}

#divCenter {
	background-color: #e1e1e1;
	width: 400px;
	height: 300px;
	left: 50%;
	margin: -130px 0 0 -210px;
	padding: 10px;
	position: absolute;
	top: 50%;
}
</style>
</h:body>

</html>
