<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<h:head>
	<title>Cadastrar Produto</title>
</h:head>

<h:body>
	<div id="divCenter">
	<h:outputText value="Cadastrar produto" rendered="#{produtoMBean.obj.descricao == null}"></h:outputText>
	<h:outputText value="Atualizar produto" rendered="#{produtoMBean.obj.descricao != null}"></h:outputText>
	<h:form>
		<div>
			<br/>
			<h:outputLabel for="descricao">Descrição do Produto *: </h:outputLabel>
			<h:inputText id="descricao" value="#{produtoMBean.obj.descricao}" required="true" requiredMessage="Digite a descrição do produto"></h:inputText>
			<br />
			<h:message for="descricao"></h:message>
			<br />
			
			<h:outputLabel for="tipoProduto">Tipo do Produto *: </h:outputLabel>
			<h:inputText id="tipoProduto" value="#{produtoMBean.obj.tipo}" required="true" requiredMessage="Digite o tipo do produto"></h:inputText>
			<br />
			<h:message for="tipoProduto"></h:message>
			<br />
			
			<h:outputLabel for="quantidadeEstoque">Quantidade do Produto em Estoque *: </h:outputLabel>
			<h:inputText id="quantidadeEstoque" value="#{produtoMBean.obj.quantidadeNoEstoque}" required="true" requiredMessage="Digite a quantidade do produto no estoque"></h:inputText>
			<br />
			<h:message for="quantidadeEstoque"></h:message>
			<br />
			
			<h:outputLabel for="valorProduto">Valor do Produto (Unidade) *: </h:outputLabel>
			<h:inputText id="valorProduto" value="#{produtoMBean.obj.valorProduto}" required="true" requiredMessage="Digite o valor do produto (Unidade)"></h:inputText>
			<br />
			<h:message for="valorProduto"></h:message>
			<br />
			
		</div>
		
		<h:button outcome="list" value="Ir para a Listagem dos Produtos"></h:button>
		<h:commandButton action="list" value="Atualizar" rendered="#{produtoMBean.obj.tipo != null}"></h:commandButton>
		<h:commandButton action="#{produtoMBean.salvar}" value="Cadastrar" rendered="#{produtoMBean.obj.tipo == null}"></h:commandButton>
	</h:form>
	</div>
	
	<style type="text/css">
		* { margin: 0; padding: 0; font-family:Tahoma; font-size:9pt;}
			
			#divCenter {
				background-color: #e1e1e1;
				width: 400px;
				height: 300px;
				left: 50%;
				margin: -130px 0 0 -210px;
				padding:10px;
				position: absolute;
				top: 50%; 
			}
	</style>	
</h:body>
      
</html>